# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
# Jupyter
.ipynb_checkpoints/
# PyTorch weights
*.pth
*.pt
# Editor and OS
.vscode/
.DS_Store
.venv/
# 数据目录（如果不想上传）
data/
models/*
!models/.gitkeep
predictions/*
!predictions/.gitkeep
